/* DarkBlack.css is sased on the original Style Sheet for the fisubsilver v2 Theme for phpBB version,edited by Daz  - http://www.forumimages.com - last updated 26-06-03 */

/* The content of the posts (body of text) */
body{background:#000000;color:#FFFFFF;font:12px Verdana,Arial,Helvetica,sans-serif;margin:6px;padding:0;
SCROLLBAR-FACE-COLOR: #000000; 
SCROLLBAR-HIGHLIGHT-COLOR: #ffffff; 
SCROLLBAR-SHADOW-COLOR: #000000; 
SCROLLBAR-3DLIGHT-COLOR: #000000; 
SCROLLBAR-ARROW-COLOR: #ADAFB2; 
SCROLLBAR-TRACK-COLOR: #000000; 
SCROLLBAR-DARKSHADOW-COLOR: #000000;}

/* General font families for common tags */
font,th,td,p{font:12px Verdana,Arial,Helvetica,sans-serif}

/* General text */
.gensmall{font-size:10px}
td.genmed,.genmed{font-size:11px}
.explaintitle{font-size:11px;font-weight:bold;color:#8F9192}

/* General page style */
a:link,a:active,a:visited,a.postlink{color:#959494;text-decoration:none}
a:hover{color:#757676}

/* titles for the topics:could specify viewed link colour too */
.topictitle{font-size:11px;font-weight:bold}
a.topictitle:visited{color:#7D7D7D}
a.topictitle:hover{color:#6E6D6D}

/* Name of poster in viewmsg.php and viewtopic.php and other places */
.name{font-size:11px;font-weight: bold}

hr{border: 0px solid #ffffff;border-top-width:1px;height:0px}

/* Category gradients*/
td.cat{font-weight:bold;letter-spacing:1px;background:#333434 url(images/cellpic1.gif);
height:29px;text-indent:4px}

/* Main table cell colours and backgrounds */
.row1{background:#393939}
.row2{background:#4B4B4B}
.row3{background:#3C3C3C}
td.spacerow{background:#575758}

/* This is for the table cell above the Topics,Post & Last posts on the index.php */
td.rowpic{background:url(images/cellpic2.jpg) #333334 repeat-y}

/* Table Header cells */
th{background:#7A7B7B ;color:#C9C9C9;font-size:11px;
font-weight:bold;height:27px;white-space:nowrap;text-align:center;padding-left:8px;padding-right:8px}

/* This is the border line & background colour round the entire page */
.bodyline{background:#000000;border:1px solid #000000}

/* This is the outline round the main forum tables */
.forumline{background:#BFC1C3;border:1px solid #000000}

/* The largest text used in the index page title and toptic title etc. */
.maintitle,h1{
font:bold 20px/120% "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;text-decoration:none;color:#A2A6AA}

.subtitle,h2{font:bold 18px/180% "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;
text-decoration:none}

/* Used for the navigation text,(Page 1,2,3 etc) and the navigation bar when in a forum */
.nav{font-size:11px;font-weight:bold}
.postbody{font-size:12px;line-height:125%}

/* Location,number of posts,post date etc */
.postdetails{font-size:10px;color:#FFFFFF}

/* Quote blocks */
.quote{background:#3A465F;border:1px solid #d1d7dc;color:#C1BDBD;
font-size:11px;line-height:125%}

/* Code blocks */
.code{background:#3A465F;border:1px solid #d1d7dc;color:#31C902;
font:12px Courier,"Courier New",sans-serif;padding:5px}

/* This is for the error messages that pop up */
.errorline{background:#8F9192;border:1px solid #E80500}

/* Form elements */
form{display:inline}

input{font:11px Verdana,Arial,Helvetica,sans-serif}

select{background:#BEBABA;font:11px Verdana,Arial,Helvetica,sans-serif}

input.post,textarea.post{background:#B4B6B8;border:1px solid #7B7B7B;
font:11px Verdana,Arial,Helvetica,sans-serif;padding-bottom:2px;padding-left:2px}

input.button,input.liteoption,.fakebut{border:1px solid #DCDCDC;background:#606060;font-size:12px;font-weight:normal}
input.catbutton{border:1px solid #DCDCDC;background:#6B6969;font-size:12px}
input.mainoption{border:1px solid #DCDCDC;background:#606060;font-size:12px;font-weight:bold}

a.but,a.but:hover,a.but:visited{color:#000000;text-decoration:none}

/* This is the line in the posting page which shows the rollover
helpline.*/
.helpline{border:0 solid;background:#B2B4B6;font-size:12px}

/* This is the gradient background at the top of the page */
.topbkg{background: #000000  repeat-x}
.topnav{font-size:10px;background: #000000  repeat-x;color:#717171;
height:21px;white-space:nowrap;border: 0px solid #91a0ae;border-width: 1px 0px 1px 0px}

/* Admin & Moderator Colours MODification */
.admin,.mod{font-size:11px;font-weight:bold}
.admin,a.admin,a.admin:visited{color:#2F50BA}
.mod,a.mod,a.mod:visited{color:#3652AE}
a.admin:hover,a.mod:hover{color:#0135DE}

/* Specify the space around images */
.imgtopic,.imgicon{margin-left:3px}
.imgspace{margin-left:1px;margin-right:2px}
.imgfolder{margin:1px 4px 1px 4px}

/* Gets rid of the need for border="0" on hyperlinked images */
img{border:0 solid}